# Build tree.
/Build/

# Various config files.
/.settings/
/.cproject
/.project
/.pydevproject
/.sconsign*

# NEW #
#######
.*~
.csv

#notebooks#
Tests_routing_alternatives/notebooks/.ipynb_checkpoints/
